<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/comments.js"></script>
</head>
<body>
    <style>
    .comment {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }

    img {
        border-radius: 50%;
    }
    </style>
    <h1>comments</h1>
    <div id="comments">
        <div class="comment">
            <h2>cool title 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, ad. Optio dolores molestiae, in, ex perferendis vel error quidem sint labore dolor quia repellendus. Placeat nesciunt obcaecati quis dolore nostrum.</p>
            <p><strong>Author:</strong> Author 1</p>
        </div>
        <div class="comment">
            <h2>awesome title 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ducimus ut exercitationem sed natus officiis ab rerum corporis sequi beatae ipsam asperiores, adipisci reiciendis aspernatur placeat animi veniam pariatur molestias?</p>
            <p><strong>Author:</strong> Author 2</p>
        </div>
        <div class="comment">
            <h2>perfect title 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, quidem possimus quas dolorem praesentium doloremque nemo perspiciatis voluptates est quae distinctio nisi aliquid, quibusdam fugit nam ipsa culpa hic illum!</p>
            <p><strong>Author:</strong> Author 3</p>
        </div>
    </div>
</body>
</html>
